body {
    background: #333;
    color: #fff;
}
.navbar {
    border-bottom: #008ed6 3px solid;
    opacity: 0.8;
}
#main-nav .nav-link {font-size: 1.1rem;}

#main-nav p {margin-bottom: 0}

#main-nav p .fas {font-size: 1.05rem}

#main-nav p a, #residence-head-section p.lead a {color: #e6e6c4}

#home-section {
    background: url(../img/lex-hotel.jpg) no-repeat fixed;
    background-size: cover;
    min-height: 700px;
}
#home-section .lex-heading img {
    width: 235px;
    margin: -8px 0 -8px 30px;
}
#home-section .dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 700px;
    background-color: rgba(0,0,0, 0.1);
}
#home-section .home-inner {
    padding-top: 150px;
}
.bg-lightslategray { background-color: lightslategray !important;}

#home-section .card-form.bg-lightslategray {
    opacity: 0.9;
    max-width: 500px;
}

#home-section .fas {
    color: lightslategray;
    background: white;
    padding: 5px;
    border-radius: 5px;
}

#residence-section .fas {
    color: lightslategray;
    padding: 5px;
    border-radius: 5px;
}

#executive-section .fas {
    color: lightslategray;
    padding: 5px;
    border: 2px solid lightslategray;
    border-radius: 5px;
}

#premium-section .fas {
    background: #333;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

#premium-head-section li {
    font-size: 1.2rem;
    margin-top: .6rem;
    text-align: left;
}
#premium-head-section img.tesla-charger {
    width: 130px;
    margin-left: 100px;
    margin-right: 10px;
}
#premium-head-section img.tesla-charger + span {
    font-size: 1.2rem;
    font-family: Arial,sans-serif;
}


#general-info-section h6 {
    margin-top: 18px;
    font-weight: bold;
}


#footer .copyright img {
    width: 93px;
    margin: -3px 0 2px 0;
}

/*
Media queries – small screen
 */
@media screen and (max-width: 768px) {
    #premium-head-section .facilities {flex-direction: column;}
}

/*
Media queries – extra small screen
 */
@media screen and (min-width: 576px) and (max-width: 635px) {
    #general-info-section button.book-online {margin-left: -20px;}
}
